<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Layoffs">
      <%= assigns[:page_title] || "Layoffs" %>
    </.live_title>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://days-without-layoffs.lubien.dev" />
    <meta property="og:site_name" content="Days Without Layoffs" />
    <meta property="og:locale" content="en_US" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@joao_lubien" />

    <meta :if={assigns[:callout]} property="og:title" content={@callout} />
    <meta :if={assigns[:callout]} name="twitter:title" content={@callout} />

    <meta property="twitter:image" content={get_image_path(assigns[:last_layoffs])} />

    <meta property="og:image" content={get_image_path(assigns[:last_layoffs])} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta property="og:image" content={get_image_path(assigns[:last_layoffs])} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
